@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #F8FAFC;
  --foreground: #5d656d;
  --card: #D9EAFD;
  --card-foreground: #5d656d;
  --popover: #F8FAFC;
  --popover-foreground: #5d656d;
  --primary: #57B4BA;
  --primary-foreground: #F8FAFC;
  --secondary: #D9EAFD;
  --secondary-foreground: #5d656d;
  --muted: #D9EAFD;
  --muted-foreground: #5d656d;
  --accent: #57B4BA;
  --accent-foreground: #F8FAFC;
  --destructive: #5d656d;
  --border: #D9EAFD;
  --input: #D9EAFD;
  --ring: #57B4BA;
  --chart-1: #57B4BA;
  --chart-2: #D9EAFD;
  --chart-3: #5d656d;
  --chart-4: #F8FAFC;
  --chart-5: #57B4BA;
  --sidebar: #F8FAFC;
  --sidebar-foreground: #5d656d;
  --sidebar-primary: #57B4BA;
  --sidebar-primary-foreground: #F8FAFC;
  --sidebar-accent: #D9EAFD;
  --sidebar-accent-foreground: #5d656d;
  --sidebar-border: #D9EAFD;
  --sidebar-ring: #57B4BA;
}

.dark {
  --background: #222831;
  --foreground: #EEEEEE;
  --card: #393E46;
  --card-foreground: #EEEEEE;
  --popover: #222831;
  --popover-foreground: #EEEEEE;
  --primary: #00ADB5;
  --primary-foreground: #EEEEEE;
  --secondary: #393E46;
  --secondary-foreground: #EEEEEE;
  --muted: #393E46;
  --muted-foreground: #EEEEEE;
  --accent: #00ADB5;
  --accent-foreground: #EEEEEE;
  --destructive: #EEEEEE;
  --border: #393E46;
  --input: #393E46;
  --ring: #00ADB5;
  --chart-1: #00ADB5;
  --chart-2: #393E46;
  --chart-3: #EEEEEE;
  --chart-4: #222831;
  --chart-5: #00ADB5;
  --sidebar: #222831;
  --sidebar-foreground: #EEEEEE;
  --sidebar-primary: #00ADB5;
  --sidebar-primary-foreground: #EEEEEE;
  --sidebar-accent: #393E46;
  --sidebar-accent-foreground: #EEEEEE;
  --sidebar-border: #393E46;
  --sidebar-ring: #00ADB5;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}